.filter_container {
  display: flex;
  max-width: 1540px;
  height: auto;
  padding: 3rem 7.5rem;
  background-color: #272A2F;
  color: white;
  margin-top: -5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.filter_button {
  background-color: none;
  border: none;
  color: white;
  margin: 1rem;
  width: 10rem;
  background-color: #5d3979;
  cursor: pointer;
}
