.list_btn_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.delete_list_btn {
  border: none;
  width: 3rem;
  margin-left: -1rem;
  height: 4rem;
  cursor: pointer;
}

.delete_list_btn:hover {
  background: #aaa;
}

