.filter_container {
  display: flex;
  width: 1240px;
  height: auto;
  padding: 3rem 2rem 0rem 2rem ;
  padding-top: 5rem;
  background-color: #272A2F;
  color: white;
  margin-top: -5rem;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.filter_button {
  background-color: none;
  border: none;
  color: white;
  margin: 1rem;
  width: 10rem;
  background-color: #5d3979;
  cursor: pointer;
  padding: 0;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter_button h1 {
  font-size: 1.3rem;
}

.search_by_name_area {
  display: flex;
  flex-direction: column;
}

.search_by_name_area button {
  height: 2.3rem;
  border: none;
}

.search_by_name_area input {
  width: 20rem;
  color:white;
  margin: 1rem 0rem;
  background-color: rgba(0,0,0,0.0);
  height: 2rem;
  border-top: 0px;
  font-size: 1.4rem;
  /* border-bottom-width: 1px;
  border-bottom-color: white; */
}

.filter_btn_area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1540px) {
  .filter_container {
    width: 75%;
  }
}
