.card_container {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #414244;
  margin: 1rem 1rem 3rem;
}

.card_container img {
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.stats_container {
  display: flex;
  flex-direction: column;
  padding-left: 0.3rem;
}

.stats_container span {
  margin-top: 0.4rem;
}

.statusBar_limit {
  width: 90%;
  background-color: black;
  height: 1rem;
  border-radius: 1rem;
  margin: 0.5rem;
}

.statusBar_limit article {
  border-radius: 1rem;
  background-color: rgb(34, 28, 101);
  height: 1rem;
}
